body {
    background-color: aqua;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
	margin: 0 auto;
	width: 80%;
}
h1, h2, h3 {
    font-family: "Sigmar", serif;
    text-align: center;
}

header, footer, figure {
    text-align: center;

}


nav { 
    background-color: aqua; 
    padding: 10px; 
    
}



nav ul { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
 }

nav a { 
    text-decoration: none; 
    color: blue; 
}

a:hover {
    color:chocolate; 
    text-decoration: dashed;

}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body {
        max-width: 1200px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body {
        max-width: 800px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body {
        max-width: 550px;
    }
}