body {
    background-color: aqua;
    text-align: center;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav { 
    background-color: grey; 
    padding: 10px; 
    text-align: center;
}

footer nav {
    justify-content: bottom;
    align-content: bottom;
}

nav li { 
    position: relative; 
    margin-right: 70px; 
    margin-left: 70px;
}

nav ul { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
 }

nav a { 
    text-decoration: none; 
    color: #333; 
}

a:hover {
    color:aquamarine;
    text-decoration: dashed;

}
li {
    text-align: left;
}

