body {
    background-color: rgb(197, 255, 255);
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
	margin: 0 auto;
	width: 80%;
}
h2, h3, h4 {
    font-family: "Sigmar", serif;
    text-align: center;
}

header, footer {
    text-align: center;
    background-color: rgb(1, 76, 76);
    padding: 15px;
    color: rgb(10, 253, 224);

}

figure {
    text-align: center;
}

h1 {
    color: rgb(10, 253, 224);
    font-family: "Sigmar", serif;
    text-align: center;
}

a {
    color: rgb(221, 250, 221); 
}

main a {
    color: rgb(11, 182, 11);
}
header, nav { 
    background-color: rgb(1, 76, 76); 
    padding: 10px; 
    
}



nav ul { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
 }

nav a { 
    text-decoration: none; 
    color: rgb(221, 250, 221); 
}

a:hover {
    color:chocolate; 
    text-decoration: dashed;

}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border: 1px solid #999;
    background-color: aquamarine;
}

th, td {
    padding: 8px;
    border: 1px solid #999;
}

thead th {
    background-color: blanchedalmond;
}

tbody tr:nth-child(odd){
    background-color:rgb(46, 221, 163);
}

tbody tr:nth-child(even){
    background-color: aquamarine;
}

.slides {
    position: relative;
}

.useSlides {
    display: none;
  }

  .back:hover,
.front:hover {
  background-color: rgba(152, 21, 21, 0.8);
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body {
        max-width: 1200px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body {
        max-width: 800px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body {
        max-width: 550px;
    }
}