<h1>Dan's Scrum Master Guide</h1>
        <nav>
            <a href="../client_project/index.html">Home</a>
            <a href="../client_project/fundamentals.html">Fundamentals</a>
            <a href="../client_project/practices.html">Practices</a>
            <a href="../client_project/dynamics.html">Dynamics</a>
            <a href="../client_project/improvements.html">Improvement</a>
        </nav>
        <nav>
            <a href="amazing_alligator/about.html">About</a>
            <a href="website_evaulation/website_evaluations.html">Evaluations</a>
            <a href="hobby/index.html">Hobby</a>
        </nav>